group.id=ssl-sasl-host
ssl.truststore.location=/etc/kafka/secrets/consumer.truststore.jks
ssl.truststore.password=test1234

ssl.keystore.location=/etc/kafka/secrets/consumer.keystore.jks
ssl.keystore.password=test1234
ssl.key.password=test1234

security.protocol=SASL_SSL
sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka

ssl.endpoint.identification.algorithm=